<div class="col-l">
    <article post classname="lev-1" title="{{news[0].title}}" body="{{news[0].body}}" author="{{news[0].author}}" date="{{news[0].date}}" image="{{news[0].image}}" length="236" postid="{{news[0].id}}" fn="viewPost(news[0].id)" views="{{news[0].views}}" />
    <article post classname="lev-2" title="{{news[1].title}}" body="{{news[1].body}}" author="{{news[1].author}}" date="{{news[1].date}}" image="{{news[1].image}}" length="168" postid="{{news[1].id}}" fn="viewPost(news[1].id)" views="{{news[1].views}}" />
</div>
<div class="col-ml">
    <article post classname="lev-3" title="{{news[2].title}}" body="{{news[2].body}}" author="{{news[2].author}}" date="{{news[2].date}}" image="{{news[2].image}}" length="300" postid="{{news[2].id}}" fn="viewPost(news[2].id)" views="{{news[2].views}}" />
    <article post classname="lev-4" title="{{news[3].title}}" body="{{news[3].body}}" author="{{news[3].author}}" date="{{news[3].date}}" image="{{news[3].image}}" postid="{{news[3].id}}" fn="viewPost(news[3].id)" views="{{news[3].views}}" />
    <article post classname="lev-4" title="{{news[4].title}}" body="{{news[4].body}}" author="{{news[4].author}}" date="{{news[4].date}}" image="{{news[4].image}}" fn="viewPost(news[4].id)" views="{{news[4].views}}" />
</div>
<div class="col-mr">
    <article post classname="lev-3" title="{{news[5].title}}" body="{{news[5].body}}" author="{{news[5].author}}" date="{{news[5].date}}" image="{{news[5].image}}" length="300" postid="{{news[5].id}}" fn="viewPost(news[5].id)" views="{{news[5].views}}" />
    <article post classname="lev-5" title="{{news[6].title}}" body="{{news[6].body}}" author="{{news[6].author}}" date="{{news[6].date}}" image="{{news[6].image}}" postid="{{news[6].id}}" fn="viewPost(news[6].id)" views="{{news[6].views}}" />
    <article post classname="lev-5" title="{{news[7].title}}" body="{{news[7].body}}" author="{{news[7].author}}" date="{{news[7].date}}" image="{{news[7].image}}" postid="{{news[7].id}}" fn="viewPost(news[7].id)" views="{{news[7].views}}" />
    <article post classname="lev-5" title="{{news[8].title}}" body="{{news[8].body}}" author="{{news[8].author}}" date="{{news[8].date}}" image="{{news[8].image}}" postid="{{news[8].id}}" fn="viewPost(news[8].id)" views="{{news[8].views}}" />
</div>
<div class="col-r">
    <article post classname="lev-1" title="{{news[9].title}}" body="{{news[9].body}}" author="{{news[9].author}}" date="{{news[9].date}}" image="{{news[9].image}}" length="236" postid="{{news[9].id}}" fn="viewPost(news[9].id)" views="{{news[9].views}}" />
    <article post classname="lev-2" title="{{news[10].title}}" body="{{news[10].body}}" author="{{news[10].author}}" date="{{news[10].date}}" image="{{news[10].image}}" length="168" postid="{{news[10].id}}" fn="viewPost(news[10].id)" views="{{news[10].views}}" />
</div>